// general layout items

body {
  background: @lt-grey;
  font-family:georgia, times,serif;
  color: @white;
  }
// Header
#header {
  .logo {

  }
  h2{
    color: @grey;
  }
}


// Footer
#footer-wrap {
  background-color: @dk-grey;
  width: 100%;
  .footer {
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;
    .login-footer {
      background-color: @orange;
      float: right;
    }
  }
}// End footer-wrap

// Copyright
#copyright {
  text-align: center;
  margin-top: 10px;
  color: @grey;
}

.page-padding {height:90px; width:100%;}

a { color:@white; text-decoration:none;}

a:hover { text-decoration:underline;}

